@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;

  --color-golden: #F5D976;
  --color-black: #0C0C0C;
  --color-gray: #6D6C69;
  --color-crimson: #F5D976;
  --color-grey: #D6D5D4;
  --color-white: #FFFFFF;
}

body{
  font-family: 'Open Sans',sans-serif;
  line-height: 180%;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Cormorant Upright',serif;
  font-weight: bold;
  line-height: 140%;
  @apply text-dark;
}

* {
  box-sizing: border-box;
  padding: 0;

  
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}



.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url('/fusion/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom__button:hover{
  @apply bg-mes-yellow-400 transition-colors ease-in-out duration-1000;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {

  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }

}
  /* text-lg font-medium */
/* Estilos gloables para Mesegares Ecuador */
@layer base {
  body {
    @apply bg-body text-grey ;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply  text-dark italic;
  }

  .h1 {
    @apply text-6xl lg:text-8xl font-bold text-mes-white;
  }

  .h2 {
    @apply font-black text-[46px] mb-4 leading-[1.1];
  }

  .h3 {
    @apply font-extrabold italic text-[40px];
  }

  .h4 {
    @apply font-extrabold italic text-[26px] text-mes-white;
  }

  .h5 {
    @apply font-medium text-[22px] text-mes-white;
  }

  .pretitle {
    @apply  font-bold text-base uppercase tracking-[-0.04em] text-accent mb-2;
  }

  .btn {
    @apply h-14 rounded-full bg-accent px-[42px] text-mes-white text-base  font-semibold tracking-[0.02em] outline-none hover:bg-accent-hover transition-all duration-300 flex justify-center items-center;
  }

  .input {
    @apply h-[56px] w-[316px] outline-none pl-[30px] rounded-full border-2 border-gray-200  font-semibold text-base text-dark placeholder:text-dark;
  }
}

/* Estilos Slider */

.carousel.carousel-slider .control-arrow {
  background-color: transparent;
  height: 48px;
  width: 48px;
  border: 2px solid #fe7634;
  border-radius: 100%;
  /* top: calc(50% - 21px); */
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .control-prev.control-arrow:before,
.carousel .control-next.control-arrow:before {
  border: none;
  width: 24px;
  height: 24px;
}

.carousel .control-prev.control-arrow:before {
  background: url('/ecuador/testimonial/arrow-left.svg') no-repeat;
}

.carousel .control-next.control-arrow:before {
  background: url('/ecuador/testimonial/arrow-right.svg') no-repeat;
}


.truncate::after {
  content: "...";
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}